* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'lato', sans-serif; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit; }

.game__container,
.vegas__overunder {
  display: flex;
  width: 50%;
  justify-content: center; }
  .game__container--game,
  .vegas__overunder--game {
    font-size: 3rem;
    padding-top: 3rem; }

.vegas__overunder,
.vegas__favoredby {
  font-size: 3rem;
  padding-top: 1rem;
  text-align: center;
  width: 50%; }

.qb__label,
.rb__label,
.wr__label {
  color: #006466;
  font-size: 3rem;
  list-style-type: none;
  padding-top: 3rem;
  width: 50%;
  display: flex;
  justify-content: space-around; }

.qb__item,
.rb__item,
.wr__item {
  font-size: 2rem;
  padding: 2rem; }
  .qb__item--totalQBScore2X, .qb__item--gamescore2X,
  .rb__item--totalQBScore2X,
  .rb__item--gamescore2X,
  .wr__item--totalQBScore2X,
  .wr__item--gamescore2X {
    padding-left: 4rem; }
