<div class="nav">
  <a href="/pos/qbs" class="nav__link">QB</a>
  <a href="/pos/rbs" class="nav__link">RB</a>
  <a href="/pos/wrs" class="nav__link">WR</a>
  <a href="/pos/tes" class="nav__link">TE</a>
  <a href="/pos/flexs" class="nav__link">Flex</a>
  <a href="/pos/stacks" class="nav__link">Stacks</a>
</div>
