.mainTitle {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-size: 4.8rem;
  letter-spacing: 0.4rem;
  background: linear-gradient(to right bottom, #420c47, #065a60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 815px) {
  .mainTitle {
    font-size: 4.25rem;
  letter-spacing: 0.3rem;
  }
}
@media (max-width: 700px) {
  .mainTitle {
    font-size: 3.75rem;
  letter-spacing: 0.3rem;
  }
}
@media (max-width: 600px) {
  .mainTitle {
    font-size: 3rem;
  letter-spacing: 0.25rem;
  }
}
@media (max-width: 500px) {
  .mainTitle {
    font-size: 2.5rem;
  letter-spacing: 0.2rem;
  }
}
@media (max-width: 400px) {
  .mainTitle {
    font-size: 2rem;
  letter-spacing: 0.2rem;
  }
}
@media (max-width: 330px) {
  .mainTitle {
    font-size: 1.75rem;
  letter-spacing: 0.2rem;
  }
}

.curWeek {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 700px) {
  .curWeek {
    font-size: 1.75rem;
  
  }
}
@media (max-width: 600px) {
  .curWeek {
    font-size: 1.5rem;
  
  }
}
@media (max-width: 500px) {
  .curWeek {
    font-size: 1.25rem;
  
  }
}

.btnsWrapper {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 3rem auto;
}
@media (max-width: 815px) {
  .btnsWrapper {
    width: 90%;
  }
}
@media (max-width: 475px) {
  .btnsWrapper {
    width: 95%;
    margin: 2.5rem auto;
  }
}

.posBtn {
  background-color: #02688f;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.25rem;
  height: 2rem;
  width: 7rem;
  max-width: 7rem;
  border-radius: 20px;
  border: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 915px) {
  .posBtn {
    font-size: 1.15rem;
  
  width: 6rem;
  max-width: 6rem;
  }
}
@media (max-width: 715px) {
  .posBtn {
    font-size: 1rem;
  
  width: 5rem;
  max-width: 5rem;
  }
}
@media (max-width: 600px) {
  .posBtn {
    font-size: .9rem;
    height: 1.75rem;
  width: 4rem;
  max-width: 4rem;
  }
}
@media (max-width: 450px) {
  .posBtn {
    font-size: .7rem;
    height: 1.5rem;
  width: 3.25rem;
  max-width: 3.25rem;
  }
}
@media (max-width: 360px) {
  .posBtn {
    font-size: .6rem;
    height: 1.25rem;
  width: 3rem;
  max-width: 3rem;
  }
}


.posBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: oklch(46.76% 0.128 239.29 / 98%);
  transform: translateY(-0.25rem);
  transition: all 0.15s;
}

.posBtn:active {
  transform: translateY(0);
  transition: all 0.15s;
}

.isOnSelectedTeamSortCheckboxForm {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  
}

.checkboxWrapper {
  text-align: center;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  .checkboxWrapper {
    font-size: .9rem;
  }
}
@media (max-width: 775px) {
  .checkboxWrapper {
    font-size: .8rem;
  }
}
@media (max-width: 500px) {
  .checkboxWrapper {
    font-size: .7rem;
  }
}
@media (max-width: 375px) {
  .checkboxWrapper {
    font-size: .6rem;
  }
}

.isOnSelectedTeamSortCheckboxInput {
  margin-right: .5rem;
}

.pointPerPassingTDWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  color: #065a60
}

.legend {
  text-align: center;
  margin-bottom: 1rem;
}

.PointPerRadioBtn {
  margin-right: .5rem;
 
}