git # Local Netlify folder
.netlify
node_modules/puppeteer/lib/esm/puppeteer/api-docs-entry.d.ts
node_modules/puppeteer/lib/esm/puppeteer/api-docs-entry.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/api-docs-entry.js
node_modules/puppeteer/lib/esm/puppeteer/api-docs-entry.js.map
node_modules/puppeteer/lib/esm/puppeteer/compat.d.ts
node_modules/puppeteer/lib/esm/puppeteer/compat.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/compat.js
node_modules/puppeteer/lib/esm/puppeteer/compat.js.map
node_modules/puppeteer/lib/esm/puppeteer/constants.d.ts
node_modules/puppeteer/lib/esm/puppeteer/constants.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/constants.js
node_modules/puppeteer/lib/esm/puppeteer/constants.js.map
node_modules/puppeteer/lib/esm/puppeteer/environment.d.ts
node_modules/puppeteer/lib/esm/puppeteer/environment.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/environment.js
node_modules/puppeteer/lib/esm/puppeteer/environment.js.map
node_modules/puppeteer/lib/esm/puppeteer/initializePuppeteer.d.ts
node_modules/puppeteer/lib/esm/puppeteer/initializePuppeteer.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/initializePuppeteer.js
node_modules/puppeteer/lib/esm/puppeteer/initializePuppeteer.js.map
node_modules/puppeteer/lib/esm/puppeteer/puppeteer-core.d.ts
node_modules/puppeteer/lib/esm/puppeteer/puppeteer-core.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/puppeteer-core.js
node_modules/puppeteer/lib/esm/puppeteer/puppeteer-core.js.map
node_modules/puppeteer/lib/esm/puppeteer/puppeteer.d.ts
node_modules/puppeteer/lib/esm/puppeteer/puppeteer.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/puppeteer.js
node_modules/puppeteer/lib/esm/puppeteer/puppeteer.js.map
node_modules/puppeteer/lib/esm/puppeteer/revisions.d.ts
node_modules/puppeteer/lib/esm/puppeteer/revisions.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/revisions.js
node_modules/puppeteer/lib/esm/puppeteer/revisions.js.map
node_modules/puppeteer/lib/esm/puppeteer/tsconfig.esm.tsbuildinfo
node_modules/puppeteer/lib/esm/puppeteer/tsconfig.tsbuildinfo
node_modules/puppeteer/lib/esm/puppeteer/common/Accessibility.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Accessibility.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Accessibility.js
node_modules/puppeteer/lib/esm/puppeteer/common/Accessibility.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/AriaQueryHandler.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/AriaQueryHandler.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/AriaQueryHandler.js
node_modules/puppeteer/lib/esm/puppeteer/common/AriaQueryHandler.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/assert.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/assert.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/assert.js
node_modules/puppeteer/lib/esm/puppeteer/common/assert.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Browser.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Browser.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Browser.js
node_modules/puppeteer/lib/esm/puppeteer/common/Browser.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserConnector.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserConnector.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserConnector.js
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserConnector.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserWebSocketTransport.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserWebSocketTransport.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserWebSocketTransport.js
node_modules/puppeteer/lib/esm/puppeteer/common/BrowserWebSocketTransport.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Connection.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Connection.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Connection.js
node_modules/puppeteer/lib/esm/puppeteer/common/Connection.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/ConnectionTransport.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/ConnectionTransport.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/ConnectionTransport.js
node_modules/puppeteer/lib/esm/puppeteer/common/ConnectionTransport.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/ConsoleMessage.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/ConsoleMessage.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/ConsoleMessage.js
node_modules/puppeteer/lib/esm/puppeteer/common/ConsoleMessage.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Coverage.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Coverage.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Coverage.js
node_modules/puppeteer/lib/esm/puppeteer/common/Coverage.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Debug.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Debug.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Debug.js
node_modules/puppeteer/lib/esm/puppeteer/common/Debug.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/DeviceDescriptors.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/DeviceDescriptors.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/DeviceDescriptors.js
node_modules/puppeteer/lib/esm/puppeteer/common/DeviceDescriptors.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Dialog.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Dialog.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Dialog.js
node_modules/puppeteer/lib/esm/puppeteer/common/Dialog.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/DOMWorld.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/DOMWorld.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/DOMWorld.js
node_modules/puppeteer/lib/esm/puppeteer/common/DOMWorld.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/EmulationManager.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/EmulationManager.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/EmulationManager.js
node_modules/puppeteer/lib/esm/puppeteer/common/EmulationManager.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Errors.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Errors.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Errors.js
node_modules/puppeteer/lib/esm/puppeteer/common/Errors.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/EvalTypes.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/EvalTypes.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/EvalTypes.js
node_modules/puppeteer/lib/esm/puppeteer/common/EvalTypes.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/EventEmitter.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/EventEmitter.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/EventEmitter.js
node_modules/puppeteer/lib/esm/puppeteer/common/EventEmitter.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Events.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Events.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Events.js
node_modules/puppeteer/lib/esm/puppeteer/common/Events.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/ExecutionContext.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/ExecutionContext.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/ExecutionContext.js
node_modules/puppeteer/lib/esm/puppeteer/common/ExecutionContext.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/fetch.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/fetch.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/fetch.js
node_modules/puppeteer/lib/esm/puppeteer/common/fetch.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/FileChooser.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/FileChooser.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/FileChooser.js
node_modules/puppeteer/lib/esm/puppeteer/common/FileChooser.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/FrameManager.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/FrameManager.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/FrameManager.js
node_modules/puppeteer/lib/esm/puppeteer/common/FrameManager.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPRequest.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPRequest.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPRequest.js
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPRequest.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPResponse.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPResponse.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPResponse.js
node_modules/puppeteer/lib/esm/puppeteer/common/HTTPResponse.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Input.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Input.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Input.js
node_modules/puppeteer/lib/esm/puppeteer/common/Input.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/JSHandle.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/JSHandle.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/JSHandle.js
node_modules/puppeteer/lib/esm/puppeteer/common/JSHandle.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/LifecycleWatcher.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/LifecycleWatcher.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/LifecycleWatcher.js
node_modules/puppeteer/lib/esm/puppeteer/common/LifecycleWatcher.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkConditions.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkConditions.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkConditions.js
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkConditions.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkEventManager.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkEventManager.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkEventManager.js
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkEventManager.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkManager.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkManager.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkManager.js
node_modules/puppeteer/lib/esm/puppeteer/common/NetworkManager.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Page.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Page.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Page.js
node_modules/puppeteer/lib/esm/puppeteer/common/Page.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/PDFOptions.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/PDFOptions.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/PDFOptions.js
node_modules/puppeteer/lib/esm/puppeteer/common/PDFOptions.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Product.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Product.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Product.js
node_modules/puppeteer/lib/esm/puppeteer/common/Product.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Puppeteer.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Puppeteer.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Puppeteer.js
node_modules/puppeteer/lib/esm/puppeteer/common/Puppeteer.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/PuppeteerViewport.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/PuppeteerViewport.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/PuppeteerViewport.js
node_modules/puppeteer/lib/esm/puppeteer/common/PuppeteerViewport.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/QueryHandler.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/QueryHandler.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/QueryHandler.js
node_modules/puppeteer/lib/esm/puppeteer/common/QueryHandler.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/SecurityDetails.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/SecurityDetails.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/SecurityDetails.js
node_modules/puppeteer/lib/esm/puppeteer/common/SecurityDetails.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Target.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Target.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Target.js
node_modules/puppeteer/lib/esm/puppeteer/common/Target.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/TaskQueue.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/TaskQueue.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/TaskQueue.js
node_modules/puppeteer/lib/esm/puppeteer/common/TaskQueue.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/TimeoutSettings.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/TimeoutSettings.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/TimeoutSettings.js
node_modules/puppeteer/lib/esm/puppeteer/common/TimeoutSettings.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/Tracing.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/Tracing.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/Tracing.js
node_modules/puppeteer/lib/esm/puppeteer/common/Tracing.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/USKeyboardLayout.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/USKeyboardLayout.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/USKeyboardLayout.js
node_modules/puppeteer/lib/esm/puppeteer/common/USKeyboardLayout.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/util.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/util.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/util.js
node_modules/puppeteer/lib/esm/puppeteer/common/util.js.map
node_modules/puppeteer/lib/esm/puppeteer/common/WebWorker.d.ts
node_modules/puppeteer/lib/esm/puppeteer/common/WebWorker.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/common/WebWorker.js
node_modules/puppeteer/lib/esm/puppeteer/common/WebWorker.js.map
node_modules/puppeteer/lib/esm/puppeteer/generated/version.d.ts
node_modules/puppeteer/lib/esm/puppeteer/generated/version.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/generated/version.js
node_modules/puppeteer/lib/esm/puppeteer/generated/version.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserFetcher.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserFetcher.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserFetcher.js
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserFetcher.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserRunner.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserRunner.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserRunner.js
node_modules/puppeteer/lib/esm/puppeteer/node/BrowserRunner.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/install.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/install.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/install.js
node_modules/puppeteer/lib/esm/puppeteer/node/install.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/Launcher.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/Launcher.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/Launcher.js
node_modules/puppeteer/lib/esm/puppeteer/node/Launcher.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/LaunchOptions.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/LaunchOptions.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/LaunchOptions.js
node_modules/puppeteer/lib/esm/puppeteer/node/LaunchOptions.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/NodeWebSocketTransport.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/NodeWebSocketTransport.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/NodeWebSocketTransport.js
node_modules/puppeteer/lib/esm/puppeteer/node/NodeWebSocketTransport.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/PipeTransport.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/PipeTransport.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/PipeTransport.js
node_modules/puppeteer/lib/esm/puppeteer/node/PipeTransport.js.map
node_modules/puppeteer/lib/esm/puppeteer/node/Puppeteer.d.ts
node_modules/puppeteer/lib/esm/puppeteer/node/Puppeteer.d.ts.map
node_modules/puppeteer/lib/esm/puppeteer/node/Puppeteer.js
node_modules/puppeteer/lib/esm/puppeteer/node/Puppeteer.js.map
pageScraper.js
scraper.js
pageController.js
node_modules
