<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%if(group === 'qbs') {%>

    <div class="list__container"></div>
    
      <ul class="list">
        <%
        allQBData.allQBFinalProjectedPointsValuesPlusNames.forEach(function(player)
        { %>
        <li class="list__item list__item--qb"><%=player%></li>
        <%})%>
      </ul>
    </div>
      <%}%>
    
  </body>
</html>
