* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'lato', sans-serif; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit; }

.gridcontainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 2rem;
  list-style-type: none; }

.card {
  margin: 5rem 0;
  /* background-image: linear-gradient(to right bottom, #f5c86c, #a87f26); */
  background: linear-gradient(to bottom right, #0c6fe9, #0a2342);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }

.vegas {
  padding-top: 1.5rem;
  padding-bottom: 0.25rem;
  font-size: 2.5rem; }
  .vegas__favored {
    padding-bottom: 2rem; }

.qb__names {
  display: flex; }
  .qb__names--1, .qb__names--2 {
    padding: 2rem; }

.position__label {
  color: #219ebc;
  font-size: 4.5rem;
  margin: 3rem;
  text-align: center; }

.position__qb {
  font-size: 3rem;
  margin-left: 3rem;
  list-style-type: none; }

.stack {
  font-size: 2rem; }

.stacktype__label {
  font-size: 3rem;
  color: #006466;
  text-align: center;
  margin: 5rem; }

.scoringtype__label {
  font-size: 2rem;
  color: #e07a5f;
  margin-bottom: 1rem; }

.nav {
  padding: 2rem;
  background-color: #3d405b;
  display: flex;
  justify-content: space-evenly; }
  .nav__link {
    color: #fff;
    font-size: 2.5rem; }

.list__container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem; }

.list__item {
  font-size: 2rem;
  list-style-type: none;
  padding: 0.4rem;
  padding-bottom: 1rem; }
  .list__item--qb {
    margin-left: 3rem; }
