.sitename__container {
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.siteName {
  /* display: flex;
  justify-content: space-around; */
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 2rem; */

  display: flex;
  justify-content: center;

  letter-spacing: 0.5rem;
}

.homepage__daily {
  margin-left: 8rem;
}

.homepage__spacer {
  background-image: linear-gradient(to right bottom, #3e1f47, #065a60);
  width: 5vw;
  height: 2vh;
  align-self: flex-end;
  border-radius: 3rem;
}

.homepage__dynasties {
}

.card_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 5rem;

  /* @media (max-width: 500px) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @media (max-width: 350px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  } */
}

.card_container--homepage {
  height: 60vh;
}

.card_container--homepage:hover {
  transition: all 0.5s;
  height: 65vh;
}

.card__item {
  margin-bottom: 5rem;
  color: #f4f1de;
  font-size: 5rem;
  text-align: center;

  box-shadow: 0 1.5rem 4rem rgba(#000, 0.35);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card__item--dfshomepage {
  background-image: linear-gradient(to right bottom, #212f45, #3e1f47);
}

.card__item--dynastyhomepage {
  background-image: linear-gradient(to right bottom, #065a60, #212f45);
}

.nav__container {
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
}

.nav__item {
  list-style-type: none;
  font-size: 2rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.footer {
  height: 5vh;
  background-color: #000;
  fill: #fff;
}
